<form id="myDIV" class="header">
  <h2>My To Do List</h2>
  <input type="text" name="name" [(ngModel)]="name" placeholder="Title...">
  <button (click)="addTodo()" class="addBtn">Add</button>
  <label for="active"> Active
    <input
      type="checkbox"
      name="false"
      id="active"
      [checked]="filters.indexOf('false') > -1"
      (change)="handleFilter($event)">
  </label>
  <label for="inactive"> InActive
    <input
      type="checkbox"
      name="true"
      id="inactive"
      [checked]="(filters.indexOf('true') > -1)"
      (change)="handleFilter($event)">
  </label>
</form>

<ul id="myUL">
  <li *ngFor="let item of todos; index as i"
    [class.inactive]="!item.status"
    [class.hidden]="(filters.indexOf(item.status.toString()) > -1)"
    (click)="toggleStatus(i)">
    {{item.name}}
    <button (click)="deleteTodo(i)">x</button>
  </li>
</ul>
