.todo-input {
  display: inline-block;
  width: 14rem;
  height: 2rem;
  padding: 0 .2rem;
  border-radius: 4px;
  border: 1px solid #ececec;
}

.todo-input:focus {
  outline: none;
  border-color: #d8d8d8;
  box-shadow: inset 0px 0px 2px 2px #ececec;
  transform: scale(1.01);
}

.todo-submit {
  display: inline-block;
  width: 4rem;
  height: 2.18rem;
  border-radius: 4px;
  border: 0;
  background: #ececec;
}

.todo-submit:hover {
  background: #d8d8d8;
}

.todo-list {
  margin: 1rem 0;

}

.todo-item {
  display: table;
  position: relative;
  width: 100%;
  background: #85e0f0;
  text-align: left;
  border-radius: 4px;
  margin-bottom: 4px;
}

.todo-item:hover {
  background: #4a919e;
  box-shadow: 0px 0px 2px 2px #2e616b;
}

.todo-item span {
  display: table-cell;
  padding: .4rem 1rem;
  text-transform: uppercase;
}

.todo-item span:first-child {
  width: 2rem;
  border-right: 1px solid #e6e6e6;
}

.todo-item span.todo-del {
  text-transform: lowercase;
  position: absolute;
  right: 0px;
  cursor: pointer;
  color: red;
}

.todo-item span.todo-edit {
  text-transform: lowercase;
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: red;
}
